/* styles/globals.css */

.page-enter,
.page-leave {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}

.page-enter-active,
.page-leave-active {
  opacity: 1;
  transform: translateY(0);
}

#__next {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FAD961, #F76B1C);
}


.global-container {
  min-height: 100vh;
}
.main-content {
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
}

html, body {
  margin: 0;
  padding: 0;
}
/* styles/globals.css */

*, *::before, *::after {
  box-sizing: border-box;
}

